# docker variables
# parsed/replaced in CI via env-subst
{{cookiecutter.app_type.upper()}}_NAME={{ cookiecutter.lname }}
{{cookiecutter.app_type.upper()}}_IMAGE={{ cookiecutter.docker_image }}
{{cookiecutter.app_type.upper()}}_IMAGE_VERSION=latest
APP_TYPE={{cookiecutter.app_type}}
WORDPRESS_PHP_VER={{cookiecutter.wordpress_php_ver}}
WORDPRESS_WP_VER={{cookiecutter.wordpress_ver}}
WORDPRESS_WP_FLAVOR={{cookiecutter.wordpress_flavor}}
CI_COMMIT_SHA=master
# end: docker variables
