# To override in your project skeleton
PROJECT_DIR=/code/src/{{cookiecutter.wordpress_project_name}}/
PROJECT_PACKAGE={{cookiecutter.wordpress_project_name}}
#
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=rootpassword

WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=user
WORDPRESS_DB_PASSWORD=password
WORDPRESS_DB_NAME=db
WORDPRESS_TABLE_PREFIX=wp_{{cookiecutter.lname}}
WORDPRESS_DB_COLLATE=
WORDPRESS_DB_CHARSET=utf8

# This need to be changed in production
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher

# generate a set from https://api.wordpress.org/secret-key/1.1/salt/

WORDPRESS_SECURE_AUTH_KEY=DqD-r|RfXH?h3cQ-.a(_)(Y#.BQ|q]^Eb:YEa^nVvZh^#pWz@WZJ]O}f+*G+~}K$
WORDPRESS_LOGGED_IN_KEY=Z8vS|#O$eZySr{|fPCpn7EZrh1L)?K [2ohIq2#(oifIr=H`pel0iJvAo4H3kZBZ
WORDPRESS_NONCE_KEY=?>ooj{|n[EwA&Eg)QP`esx%.T.)1*)E/}&m=8h^]Qr<qurbYA]S9nj!}4;GEhQSP
WORDPRESS_AUTH_SALT=}?)qXW?@{[bFb|ukk<eK/7g=o]Sd/>VX0h<DqeCm;6z T+(;X2qON}RLP3T_$P@=
WORDPRESS_SECURE_AUTH_SALT=]))#R4Y}TghLVK1_w#+9(e|]ZI{+8!,Yr2MvJDEbLCh%ElzI`2+|,H4f$V3+d#9z
WORDPRESS_LOGGED_IN_SALT=Z8vS|#O$eZySr{|fPCpn7EZrh1L)?K [2ohIq2#(oifIr=H`pel0iJvAo4H3kZBZ
# default to unique random SHA1s
WORDPRESS_NONCE_SALT=I&B]^Ms6sNIB1,:,I2XX_U M]+3m>s]auKv-1v2Pm7?%%>9^9ogd]5eX_}=XGt<D

# defaults to disabled, non-empty value will enable WP_DEBUG in wp-config.php
WORDPRESS_DEBUG=
# (defaults to nothing, non-empty value will be embedded verbatim inside wp-config.php
# especially useful for applying extra configuration values this image does not provide
# by default such as WP_ALLOW_MULTISITE; see docker-library/wordpress#142 for more details
WORDPRESS_CONFIG_EXTRA=

# vim: set ft=sh:
